# Emacs files
*~
.dir-locals-2.el

# Python scratch files
__pycache__/
*.pyc
*.pyo

# Build files and directories
*.so
*.dylib
*.dll
*.o
*.whl
*.tar
*.tar.*
*.zip
*.egg-info/
build/
dist/
.tox/
.pytest_cache/

# Sphinx docs
docs/_build/
