# Editor files
*~
.dir-locals-2.el
.vscode/
compile_flags.txt
compile_commands.json

# Python scratch files
__pycache__/
*.pyc
*.pyo

# Build files and directories
*.pyd
*.so
*.dylib
*.dll
*.o
*.obj
*.lib
*.whl
*.tar
*.tar.*
*.zip
*.egg-info/
build/
dist/
.tox/
.pytest_cache/
.mypy_cache/
.cache/

# Sphinx docs
docs/_build/

# Ignore compiled native tests and headers
tests/cpp/test_all
tests/cpp/test_all.exe
tests/cpp/catch2/
cache-catch2/
