[build-system]
requires = [
    "setuptools>=62.6.0",
    "oldest-supported-numpy"
]
build-backend = "setuptools.build_meta"

[project]
name = "adrt"
description = "Fast approximate discrete Radon transform for NumPy arrays"
readme = "README.md"
requires-python = ">=3.8"
license = {text = "BSD-3-Clause"}
authors = [
  {name = "Karl Otness"},
  {name = "Donsub Rim"}
]
dependencies = [
  "numpy>=1.21,<2"
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: BSD License",
  "Intended Audience :: Science/Research",
  "Topic :: Scientific/Engineering",
  "Topic :: Scientific/Engineering :: Image Processing",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: C++",
  "Operating System :: POSIX :: Linux",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: MacOS"
]
dynamic = ["version"]

[project.urls]
homepage = "https://github.com/karlotness/adrt"
documentation = "https://adrt.readthedocs.io"
repository = "https://github.com/karlotness/adrt"
issues = "https://github.com/karlotness/adrt/issues"

# Additional setuptools settings
[tool.setuptools]
include-package-data = false

[tool.setuptools.package-data]
adrt = [
  "*.pyi",
  "py.typed"
]

[tool.setuptools.dynamic]
version = {attr = "adrt.__version__"}

# cibuildwheel settings
[tool.cibuildwheel]
skip = ["*-musllinux*", "pp*"]
build-frontend = "build"
before-test = "pip install -r {package}/tests/test_requirements.txt"
test-command = "pytest {package}/tests"
test-skip = "*-macosx_universal2:arm64 cp3{10,11,12}-win32 cp312-*"

# Specify manylinux image versions
manylinux-x86_64-image = "manylinux2014"

[tool.cibuildwheel.linux.environment]
CPPFLAGS = "-DNDEBUG"
CFLAGS = "-O3 -flto -fvisibility=hidden -fvisibility-inlines-hidden -fno-math-errno -Wall -Wextra -Wpedantic"
LDFLAGS = "-Wl,--as-needed,-O1"

[tool.cibuildwheel.macos.environment]
CPPFLAGS = "-DNDEBUG"
CFLAGS = "-O3 -flto -fvisibility=hidden -fvisibility-inlines-hidden -Wall -Wextra -Wpedantic"
LDFLAGS = "-Wl,-dead_strip_dylibs"

[tool.cibuildwheel.windows.environment]
CL = "/permissive- /Zc:inline,preprocessor,__cplusplus /DNDEBUG"

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = ["tests"]
addopts = [
  "--import-mode=importlib",
  "--capture=no",
]
